# Copie este arquivo para .env e ajuste os valores
MONGO_URI=mongodb+srv://lukasilverio94_db_user:7wf153@topidosespeciais.w7givnv.mongodb.net/?retryWrites=true&w=majority&appName=topidosespeciais
SECRET_KEY=mhnet-secret-key-2025
ADMIN_USER=admin
ADMIN_PASSWORD=mhnet2025
